{% extends "base.html" %}
{% import "macros.jinja" as macros %}
{% block my_content %}
  <table id="asns" class="table table-striped table-bordered">
    <thead>
      <th>ASN</th>
      <th>Unique Paths</th>
      <th>Min hop count</th>
      <th>Max hop count</th>
      <th>Transit ASN's</th>
      <th>Downstream ASN's</th>
    </thead>
    <tbody>
    {% for asn in asns %}
      <tr>
        <td><a href="{{ url_for('asn', asn=asn.asn_id) }}">
            {{ asn.asn_id }}
        </a></td>
        <td><a href="#" data-toggle="tooltip" title="{{ asn.paths|join(', ') }}">
            {{ asn.paths|length }}
        </a></td>
        <td>{{ asn.min_path_len }}</td>
        <td>{{ asn.max_path_len }}</td>
        <td><a href="#" data-toggle="tooltip" title="{{ asn.transit_asns|join(', ') }}">
          {{ asn.transit_asns|length }}
        </a></td>
        <td><a href="#" data-toggle="tooltip" title="{{ asn.downstream_asns|join(', ') }}">
        {{ asn.downstream_asns|length }}
        </a></td>
      </tr>
  {% endfor %}
{% endblock %}
{% block scripts %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/js/formValidation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/js/framework/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/6.4.1/js/intlTelInput.min.js"></script>
<script>
$(document).ready(function() {
  {% if success %}
    $('#completeModal').modal();
  {% endif %}
});
</script>
{% endblock %}
